@media(min-width: 540px) {}

@media(min-width: 768px) {
    .section_padding {
        padding: 40px 0px;
    }
}

@media(min-width: 1024px) {

    .section_padding {
        padding: 50px 0px;
    }
}

@media(min-width: 1200px) {

    .section_padding {
        padding: 60px 0px;
    }
}